- content_for :stylesheets do
  = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/edge-light.min.css'

- content_for :scripts do
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/haml.min.js'

- content_for :inline_scripts do
  :javascript
    hljs.highlightAll();

- content_for :page_title do
  Admin Styleguide


.row
  .col-md-10
    %h3.text-muted.mb-4#bootstrap Bootstrap Helpers

    = render partial: 'admin/static/styleguide/cards'
    = render partial: 'admin/static/styleguide/dropdowns'
    = render partial: 'admin/static/styleguide/tabs'
    = render partial: 'admin/static/styleguide/accordions'
    = render partial: 'admin/static/styleguide/carousels'
    = render partial: 'admin/static/styleguide/off_canvas'

    %h3.text-muted.mb-4#markdown Custom Markdown
    = render partial: 'admin/static/styleguide/markdown'

    %h3.text-muted.mb-4#bem BEM Helpers

    = render partial: 'admin/static/styleguide/bem'

  .col-md-2.ps-4.fixed-top{style: 'top: 204px; left: initial'}
    = card 'Table Of Content' do
      %ol
        %li= link_to 'Bootstrap Helpers', '#bootstrap'
        %li= link_to 'Custom Markdown', '#markdown'
        %li= link_to 'BEM Helpers', '#bem'
