- toggle_pill resource, :approve, off: :revocate do |on|
  - if on
    = icon('x')
    %span.text= 'admin.actions.revocate'.t
  - else
    = icon(:check)
    %span.text= 'admin.actions.approve'.t

- toggle_pill resource, :validate do |on|
  - if on
    = icon('x')
    %span.text= 'admin.actions.unvalidate'.t
  - else
    = icon(:check)
    %span.text= 'admin.actions.validate'.t
