= toggle_action item, :approve, off: :revocate do |on|
  - if on
    = icon 'x-square'
    %span.text= 'actions.revocate'.t
  - else
    = icon 'check-square'
    %span.text= 'actions.approve'.t

= toggle_action item, :validate, off: :invalidate do |on|
  - if on
    = icon 'x-square'
    %span.text= 'admin.actions.invalidate'.t
  - else
    = icon 'check-square'
    %span.text= 'admin.actions.validate'.t
