= show_avatar user.avatar, :thumb

- if can? :edit, user
  = link_to user.name, [controller.controller_namespace, user].flatten
- else
  = user.name

= "(#{user.email})"
- if !user.user?
  .details
    - if user.role == 'admin'
      .label.label-warning= "enums.user.role.#{user.role}".t
    - else
      .label.label-info= "enums.user.role.#{user.role}".t
