- content_for :page_title do
  = 'devise.passwords.forgotten_password.title'.t

- content_for :sub_title do
  = 'devise.passwords.forgotten_password.instructions'.t

.row.sign-in
  .col-md-12
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form'}) do |f|
      - unless resource.errors.empty?
        .alert.alert-danger= 'devise.passwords.forgotten_password.error'.t

      .mb-3.form-group
        = f.label :email, class: 'control-label'
        = f.email_field :email, autofocus: true, class: 'form-control'

      .text-center= f.submit 'actions.reset_password'.t, class: 'button right btn btn-primary'
