%template.tpl.icon-asc= icon('chevron-down')
%template.tpl.icon-desc= icon('chevron-up')
%template.tpl.icon-reset= icon('x')
%template.tpl.icon-close= icon('x')
%template.tpl.icon-upload= icon('upload')
