.modal.fade#markdown-help
  .modal-dialog{style: 'max-width: 800px'}
    .modal-content
      .modal-header.text-center
        %h5.modal-title= 'markdown_help.main_title'.t
        .btn.btn-close{data: {bs_dismiss: :modal}, aria: {label: 'actions/close'.t}}

      .modal-body
        %h3= 'markdown_help.styles.title'.t

        .row.section
          - content = capture_haml do
            :plain
              _#{'markdown_help.styles.italic'.t}_
              *#{'markdown_help.styles.italic'.t}*
              __#{'markdown_help.styles.bold'.t}__
              **#{'markdown_help.styles.bold'.t}**
              ~~#{'markdown_help.styles.striked'.t}~~
              [#{'markdown_help.styles.link'.t}](http://www.google.fr/)
              > #{'markdown_help.styles.quote'.t}

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.aligns.title'.t

        .row.section
          - content = capture_haml do
            :plain
              -->>
              #{'markdown_help.aligns.right'.t}
              -->>

              <<--
              #{'markdown_help.aligns.left'.t}
              <<--

              -><-
              #{'markdown_help.aligns.center'.t}
              -><-

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.titles.title'.t

        .row.section
          - content = capture_haml do
            :plain
              # #{'markdown_help.titles.placeholder'.t} 1
              ## #{'markdown_help.titles.placeholder'.t} 2
              ### #{'markdown_help.titles.placeholder'.t} 3
              #### #{'markdown_help.titles.placeholder'.t} 4
              ##### #{'markdown_help.titles.placeholder'.t} 5
              ###### #{'markdown_help.titles.placeholder'.t} 6

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.images.title'.t

        .row.section
          - content = capture_haml do
            :plain
              ![#{'markdown_help.images.alt'.t}](https://placehold.it/348x100?text=PICTURE "#{'markdown_help.images.hover'.t}")
          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.icons.title'.t

        = 'markdown_help.icons.intro'.t.html_safe

        .row.section
          - content = capture_haml do
            :plain
              %(globe)

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.buttons.title'.t

        .row.section
          - content = capture_haml do
            :plain
              (#{'markdown_help.buttons.placeholder'.t}=>http://www.google.fr/)
          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.lists.title'.t

        .row.section
          - content = capture_haml do
            :plain
              - #{'markdown_help.lists.placeholder'.t} 1
              * #{'markdown_help.lists.placeholder'.t} 2
              + #{'markdown_help.lists.placeholder'.t} 3

              1. #{'markdown_help.lists.placeholder'.t} 1
              2. #{'markdown_help.lists.placeholder'.t} 2
              3. #{'markdown_help.lists.placeholder'.t} 3

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.tables.title'.t

        .row.section
          - content = capture_haml do
            :plain
              #{'markdown_help.tables.placeholder_column'.t} 1|#{'markdown_help.tables.placeholder_column'.t} 2
              ---|---
              #{'markdown_help.tables.placeholder_cell'.t} #{'markdown_help.tables.row'.t} 1, #{'markdown_help.tables.column'.t} 1|#{'markdown_help.tables.placeholder_cell'.t} #{'markdown_help.tables.row'.t} 1, #{'markdown_help.tables.column'.t} 2
              #{'markdown_help.tables.placeholder_cell'.t} #{'markdown_help.tables.row'.t} 2, #{'markdown_help.tables.column'.t} 1|#{'markdown_help.tables.placeholder_cell'.t} #{'markdown_help.tables.row'.t} 2, #{'markdown_help.tables.column'.t} 2

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.caps.title'.t

        .row.section
          - content = capture_haml do
            :plain
              ^Ut^ wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.

              ^^Ut^^ wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.

              ^^^Ut^^^ wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio

              ^^^^Ut^^^^ wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)

        %h3= 'markdown_help.insets.title'.t

        .row.section
          - content = capture_haml do
            :plain
              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.

              %%% Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio. %%%

              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio

              %% Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio %%

          .col-md-6
            %pre
              %code.code<>= content.gsub(/^[ ]+/m, '')
          .col-md-6.preview
            .text-content= markdown(content)
  }
