- columns = default_columns_for_object(resource)

= widget_box 'labels.informations'.t, :info, content_class: 'nopadding' do
  %ul.list-group.nomargin
    - columns.each do |col|
      %li.list-group-item
        :ruby
          out = resource.send(col)
          column = controller.resource_class.columns_hash[col.to_s]
          type = column.present? ? column.type : :association

          field_partial = "show_#{controller.resource_name}_#{col}"
          col_partial = "show_#{col}_field"
          type_partial = "show_#{type}_field"


        - if partial_exist?(field_partial)
          = render partial: field_partial, locals: { value: out, type: type, column: col }
        - elsif partial_exist?(col_partial)
          = render partial: col_partial, locals: { value: out, type: type, column: col }
        - elsif partial_exist?(type_partial)
          = render partial: type_partial, locals: { value: out, type: type, column: col }
        - else
          %strong= "models.fields.#{controller.resource_name.singularize}.#{col}".tc
          = out.respond_to?(:to_sentence) ? out.select(&:present?).to_sentence : out
    = render_partial_for_user 'extra_show_fields'

  = render_partial_for_user 'extra_show_content'
