:ruby
  content = StaticContent.find_by(key: :cookies)

- content_for :title, content.name

= markdown content.content

= accordion do
  = accordion_item clean('Cookies utilisés sur ce site'), id: 'used_cookies', body: {class: 'accordion-body p-0'} do
    %table.table.mb-0
      %thead
        %tr
          %th= clean 'tables.columns.cookies.name'.t
          %th= clean 'tables.columns.cookies.type'.t
          %th= clean 'tables.columns.cookies.duration'.t
          %th= clean 'tables.columns.cookies.origin'.t
          %th= clean 'tables.columns.cookies.purpose'.t
      %tbody
        - GdprConsent.get_policies.each_pair do |cookie, policy|
          %tr
            %td= cookie
            %td= clean policy[:type]
            %td= clean policy[:duration]
            %td= clean policy[:origin]
            %td= clean policy[:purpose]
