%p= "devise.mailer.reset_password_instructions.greeting".t(recipient: @resource.name)

%p= "devise.mailer.reset_password_instructions.instruction".t

%p
  = link_to "devise.mailer.reset_password_instructions.action".t, edit_password_url(@resource, reset_password_token: @token)

%p= "devise.mailer.reset_password_instructions.instruction_2".t
%p= "devise.mailer.reset_password_instructions.instruction_3".t
