.card-body.bg-light
  = form_tag admin_users_path, method: :get, class: 'panel-body no-padding user_filter' do
    .row
      .col-md-6
        .form-group
          = label_tag(:q, 'labels.search'.t, class: 'control-label')
          .controls
            = text_field_tag(:q, params[:q], class: 'form-control')

      .col-md-6
        .form-group
          = label_tag(:r, 'user.role'.tmf, class: 'control-label')
          .controls
            - options = "<option></option>" + options_for_select(User.roles.map{|r| ["enums.user.role.#{r[0]}".t, r[0].pluralize]}, params[:r])
            = select_tag(:r, options.html_safe, placeholder: 'Rôle', style: 'width: 100%')


    .btn-group.pull-right.mt-4
      = link_to admin_users_path, class: 'btn btn-secondary' do
        = 'actions.reset'.t

      %button.btn.btn-success{type: :submit}
        = 'actions.validate'.t
