
.row
  .col-md-4.col-xs-4
    .card
      .card-header

      .card-body.text-center
        = show_avatar resource.avatar, :medium

  .col-md-8.col-xs-8
    .card
      .card-header
        - if resource.is_admin?
          .pull-right.badge.bg-warning= "enums.user.role.#{resource.role}".t
        - else
          .pull-right.badge.bg-info= "enums.user.role.#{resource.role}".t

        %h5.card-title
          = icon :info
          Informations

      %ul.list-group.list-group-flush
        %li.list-group-item
          %strong
            = icon_for(:email)
            Email :

          = resource.email
