<div class='form-group has-feedback'>
  <label for='<%= locals.id %>'><%= locals.label %></label>

  <div class='controls'>
    <input type='number'
           id='<%= locals.id %>'
           value='<%= locals.value || locals.settingParameters.default || "" %>'
           step='<%= locals.settingParameters.step || 1 %>'
           <% if(locals.settingParameters.min != undefined) { %>min="<%= locals.settingParameters.min %>"<% } %>
           <% if(locals.settingParameters.max != undefined) { %>max="<%= locals.settingParameters.max %>"<% } %>
           <% if(locals.settingParameters.required) { %>required<% } %>
           class='form-control'>
    </input>
  </div>
</div>
