<div class='form-group has-feedback'>
  <label for='<%= locals.id %>'><%= locals.label %></label>

  <div class='controls'>
    <textarea id='<%= locals.id %>'
              data-name='<%= locals.setting %>'
              data-iconlibrary='fa'
              data-editor='markdown'
              data-language='fr'
              data-resize='vertical'
              <% if(locals.settingParameters.required) { %>required<% } %>
              class='form-control'><%= locals.value || locals.settingParameters.default || "" %></textarea>
  </div>
</div>
