- if can? :view, resource, column
  %strong= "#{controller.resource_name.singularize}.#{column}".tmfc
  - if controller.resource_class.respond_to?(column.to_s.pluralize)
    = "enums.#{controller.resource_name.singularize}.#{column}.#{value}".t
  - else
    = value
