%strong= "#{controller.resource_name.singularize}.#{column}".tmf
- if value.class == PdfUploader
  = link_to value.url do
    = icon 'file-pdf-o'
    = value
- elsif value.respond_to?(:thumb)
  = image_tag(value.thumb)
