- if can? :view, resource, column
  - if value.class == PdfUploader
    %strong= "#{controller.resource_name.singularize}.#{column}".tmfc
    = link_to value.url do
      = icon 'file-pdf-o'
      = value
  - elsif value.respond_to?(:thumb)
    %strong= "#{controller.resource_name.singularize}.#{column}".tmf
    = image_tag(value.thumb)
