= render partial: 'show_field_label', locals: local_assigns
- if value.present?
  - if value.class == PdfUploader
    = link_to value.url do
      = icon 'file-pdf-o'
      = value.url
  - elsif value.respond_to?(:thumb)
    = image_tag(value.thumb.url)
- else
  = value.to_s
