%strong= "#{resource.class.table_name.singularize}.#{column}".tmfc
- if controller.resource_class.respond_to?(column.to_s.pluralize)
  - if value.present?
    = "enums.#{resource.class.table_name.singularize}.#{column}.#{value}".t
  - else
    = 'errors.value.undefined'.t
- else
  = value
