.row.dashboard
  - Dashboard.items.each do |klass, weight|
    %div{class: "col-md-#{weight*6}"}
      - title_content = render_partial_for_user 'index_panel_header', locals: {resource_class: klass}
      = widget_box title_content, class: "panel-default #{weight == 1 && 'short-actions'}", before_title: collection_counter(klass.where(nil)) do
        = collection klass.order('created_at DESC').limit(5), resource_class: klass
        .panel-footer
          - if can? :create, klass
            = link_to [:new, :admin, klass.name.underscore.downcase], class: 'btn btn-success' do
              = icon(:plus)
              %span.text= 'admin.actions.add'.t
