- admin = (controller_name =~ /admin/ ? 'admin' : nil)
.row.dashboard
  - Dashboard.weighed_items.each do |klass, opts|
    :ruby
      unless_clause = opts[:unless]
      if unless_clause
        next if instance_exec(&unless_clause)
      end
      if_clause = opts[:if]
      if if_clause
        next unless instance_exec(&if_clause)
      end
      size = opts[:size] || 1

      if opts[:scope].present?
        scope = opts[:scope]
        scope = scope.is_a?(Array) ? klass.send(scope[0], instance_exec(&scope[1])) : klass.send(scope)
      else
        scope = klass
      end

      scope = opts[:order].present? ? scope.order(opts[:order]) : scope.order('created_at DESC')
      scope = opts[:limit].present? ? scope.limit(opts[:limit]) : scope.limit(5)

    %div{class: "col-md-#{size*6}"}
      - title_content = opts[:title] || "models.dashboard.#{klass.name.pluralize.underscore}".t(default: render_partial_for_user('index_panel_header', locals: {resource_class: klass}))

      - title = capture_haml do
        = icon_for(klass)
        = title_content

      - if opts[:columns].present?
        :ruby
          url = [:admin, klass]

          def get_proc(c, *args)
            try(:"admin_resource_#{c}_proc", *args) ||
            try(:"resource_#{c}_proc", *args) ||
            try(:"#{c}_proc", *args) ||
            try(c, *args)
          end

          options = {
            columns: opts[:columns].map { |c|
              if c.is_a?(Hash)
                c.map do |k,v|
                  get_proc(k, *v)
                end
              else
                get_proc(c)
              end
            }.flatten.compact,
          }.reverse_merge(opts)

        .panel.panel-default{class: size == 1 && 'short-actions'}
          .panel-heading
            = collection_counter(scope)
            = icon_for(klass)
            %h5.panel-title
              = link_to url do
                = title_content

          = models_list scope, options

          - if can?(:create, klass) && (new_url = url_for([:new, :admin, klass.name.underscore.downcase].compact) rescue nil)
            .panel-footer
              = link_to new_url, class: 'btn btn-success' do
                = icon_for(:create)
                %span.text= 'admin.actions.add'.t

      - else
        = widget_box title, class: "panel-default #{size == 1 && 'short-actions'}", before_title: collection_counter(klass.where(nil)) do
          = collection scope, resource_class: klass, no_pagination: true
          - if can?(:create, klass) && (new_url = url_for([:new, :admin, klass.name.underscore.downcase].compact) rescue nil)
            .panel-footer
              = link_to new_url, class: 'btn btn-success' do
                = icon_for(:create)
                %span.text= 'admin.actions.add'.t
