%span.welcome.pull-right
  .pull-right{class: 'dropdown-toggle', data: { toggle: 'dropdown' }}
    = show_avatar current_user.avatar, :thumb

  %ul.dropdown-menu
    %li
      = link_to url_for([controller.controller_namespace, current_user].flatten) do
        = icon_for(User)
        %span.text= 'actions.show_profile'.t

    - if can?(:edit, current_user)
      %li
        = link_to url_for([:edit, controller.controller_namespace, current_user].flatten) do
          = icon_for(:profile)
          %span.text= 'actions.edit_profile'.t

    - if user_masquerade?
      %li
        = link_to back_user_masquerade_index_path do
          = icon_for(:sign_out)
          %span.text= 'reverse_masquerade'.t

    - else
      %li
        = link_to destroy_user_session_path, method: :delete do
          = icon_for(:sign_out)
          %span.text= 'actions.sign_out'.t

  .session{class: 'dropdown-toggle', data: { toggle: 'dropdown' }}
    - if user_masquerade?
      %span.text.masqueraded!= 'masqueraded'.t user: current_user.name
    - else
      %span= current_user.name

    .details
      - if current_user.admin?
        .label.label-warning= "roles.#{current_user.role}".t
      - else
        .label.label-info= "roles.#{current_user.role}".t
      = icon('chevron-down')
