.dropdown
  .flex-row.d-flex.align-items-center.dropdown-toggle{"data-bs-toggle": 'dropdown' }
    .session.mr-1.text-right
      %span= current_user.name
      .details
        - if current_user.admin?
          .badge.bg-warning= "enums.user.role.#{current_user.role}".t
        - else
          .badge.bg-info= "enums.user.role.#{current_user.role}".t
    = show_avatar current_user.avatar, :thumb, class: "mr-1"

  .dropdown-menu
    = link_to url_for([controller.controller_namespace, current_user].flatten), class: 'dropdown-item' do
      = icon_for(User)
      %span.text= 'actions.show_profile'.t

    - if can?(:edit, current_user)
      = link_to url_for([:edit, controller.controller_namespace, current_user].flatten), class: 'dropdown-item' do
        = icon_for(:profile)
        %span.text= 'actions.edit_profile'.t

    = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
      = icon_for(:sign_out)
      %span.text= 'actions.sign_out'.t

