<div class="file form-group">
  <label for="<%= obj.id %>"><%= obj.label %></label>

  <div class="controls">
    <input id="<%= obj.id %>"
           data-name="<%= obj.setting %>"
           type="hidden"
           value="<%= obj.value %>"
           class="form-control"></input>

    <div class="preview">
      <div class="progress">
        <div class="progress-bar progress-bar-success"></div>
      </div>

      <% if(obj.value) { %>
        <img class="loaded" src="<%= obj.value %>">
      <% } %>
    </div>

    <button class="btn btn-danger btn-xs">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
