!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %title= content_for?(:title) ? yield(:title) : 'admin_app_name'.t

    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'admin_app_name'.t}"}
    = csrf_meta_tags

    = favicon_link_tag 'logo.svg'
    = stylesheet_link_tag 'admin', media: 'all'
    = yield :stylesheets

    = javascript_pack_tag 'admin', media: 'all', 'data-turbolinks-track': true, 'data-turbolinks-eval': false, cache: true, defer: "defer"
    = yield :scripts


  - body_class = "#{yield :extra_body_class} #{controller_path.gsub('/', ' ')} #{action_name}".strip
  %body{class: body_class}
    = render partial: 'shared/html_templates'

    .wrapper
      #sidebar.sidebar{role: :navigation}
        .sidebar-content
          %a.sidebar-brand{href: "/"}
            = image_tag asset_path('favicon.svg'), alt: 'Logo'
            %span.text= 'app_name'.t

          .sidebar-user= render partial: 'admin/shared/session', locals: {context: :sidebar}

          = render_partial_for_user 'admin/shared/sidebar'

      .main
        .navbar.navbar-expand.navbar-light.navbar-bg
          .sidebar-toggle{data: {collapse: '#sidebar'}}= icon(:menu)

          = render_partial_for_user 'admin/shared/search'
          = render_partial_for_user 'admin/shared/nav'

          .navbar-collapse.collapse
            .navbar-nav.navbar-align.align-items-center
              / If your project doesn't require multiple locales you can just
              / remove the following line.
              = render partial: 'admin/shared/locales', locals: {context: :navbar}
              = render partial: 'admin/shared/session', locals: {context: :navbar}

        %main.content
          = render partial: 'shared/flash', locals: { flash: flash }
          .container-fluid.p-0
            #content
              = yield :before_page

              #content-header
                %h1= content_for?(:page_title) ? yield(:page_title) : content_for?(:title) ? yield(:title) : 'admin_app_name'.t
                = yield :content_header

              - if content_for?(:pills)
                = yield :pills

              - if content_for?(:breadcrumb)
                = yield :breadcrumb

              = yield :before_content

              = yield

              = yield :after_content
              = yield :after_page

          = yield :inline_scripts

          / .row
          /   - FeatherSvgs.keys.each do |k|
          /     .col-md-2
          /       = svg_icon(k)
          /       = k
