!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %title= content_for?(:title) ? yield(:title) : 'admin_app_name'.t

    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'admin_app_name'.t}"}
    = csrf_meta_tags

    = favicon_link_tag 'favicon.svg'
    = stylesheet_link_tag 'admin', media: 'all'
    = yield :stylesheets

    = javascript_pack_tag 'application', 'data-turbolinks-track': true, 'data-turbolinks-eval': false, cache: true, defer: "defer"

  - body_class = "#{yield :extra_body_class} #{controller_path.gsub('/', ' ')} #{action_name}".strip
  %body{class: body_class}
    = render partial: 'gdpr/cookie_consent'
    = render partial: 'shared/html_templates'
    %main.d-flex.w-100.h-100
      .container.d-flex.flex-column
        .row.vh-100
          :ruby
            container_class = content_for?(:container_class) ? yield( :container_class) : 'col-sm-10 col-md-8 col-lg-6'

          .mx-auto.d-table.h-100{class: container_class}
            .d-table-cell.align-middle
              .text-center.mt-4
                %h1.h2= yield :page_title
                %p.lead= yield :sub_title
              .card
                .card-body
                  .m-sm-4
                    .text-center
                      .avatar.default.devise= icon(:user)

                    = yield
