!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/

    %title= content_for?(:title) ? yield(:title) : 'admin_app_name'.t

    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'admin_app_name'.t}"}

    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'screen', rel: 'stylesheet'}

    = stylesheet_link_tag 'admin', media: 'all'
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:400,300,600", rel: "stylesheet", type: "text/css"}/
    = yield :stylesheets
    = csrf_meta_tags

  - body_class = "#{yield :extra_body_class} #{controller_path.gsub('/', ' ')} #{action_name}".strip
  %body{class: body_class}
    %main.d-flex.w-100.h-100
      .container.d-flex.flex-column
        .row.vh-100
          .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
            .d-table-cell.align-middle
              .text-center.mt-4
                %h1.h2= yield :page_title
                %p.lead= yield :sub_title
              .card
                .card-body
                  .m-sm-4
                    .text-center
                      .avatar.default.devise= icon(:user)

                    = yield
