:ruby
  description = content_for?(:description) ? yield(:description) : 'app_name'.t
  title = content_for?(:title) ? yield(:title) : 'app_name'.t

!!!
= cc_html lang: :fr, class: 'no-js' do
  %head
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/

    %title= title
    %meta{name: "description", content: "#{description}"}/
    = yield :meta

    %link{href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'screen', rel: 'stylesheet'}

    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}/

    %link{ rel: "apple-touch-icon", href:"/images/apple-touch-icon.png"}/

    = favicon_link_tag 'favicon.svg'
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:400,300,600", rel: "stylesheet", type: "text/css"}/
    = yield :styles
    = csrf_meta_tags

  - body_class = "#{yield :extra_body_class} #{controller_path.gsub('/', ' ')} #{action_name}".strip
  %body{class: body_class}
    %main.d-flex.w-100.h-100
      .container.d-flex.flex-column
        .row.vh-100
          .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
            .d-table-cell.align-middle
              .text-center.mt-4
                %h1.h2= 'errors.title'.t
                / %p.lead= 'errors.subtitle'.t
              .card
                .card-body
                  .m-sm-4
                    .text-center
                      .error-icon= icon('alert-triangle')

                    = yield

    = javascript_include_tag "application"
    = yield :scripts
